<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet"> 
   
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>Project Stream</title>
</head>
<body>
    <header class="header">
        <img class="logo" src="img/logo.png" alt="logo" >
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li><a class="main-nav-link" href="#">Section1</a></li>
            <li><a class="main-nav-link" href="#">Section2</a></li>
            <li><a class="main-nav-link" href="#">Section3</a></li>
            <li><a class="main-nav-link" href="#">Section4</a></li>
            <li><a class="main-nav-link nav-cta" href="login.html">Login</a></li>
          
          </ul>
        </nav>
    </header>
  <main>
    <section class="section-hero">
     <div class="hero">
        <div class="hero-text-box">
            <h1 class="heading-primary">Stream from your local device</h1>
            <p class="hero-description">Say goodbye to free movie websites and hello to the app that brings you over 50,000 on-demand titles, plus live TV on all your favorite devices.
            </p>
            
            <a href="signup.html" class="btn btn--full margin-right">Sign up </a>
            <a href="#" class="btn btn--outline">Learn more &darr;</a>
         </div>
          <div class="hero-image-box">
            <img src="img/hero-img.png" class="hero-img" alt="hero image">
          </div>
     </div>
     </section>
   
     <section class="how">
       <h2 class="subheading">How it works</h2>
       <div class="container">
         <div class="row">
           <div class="col-md-4">
             <div class="main">
               <div class="service">
                 <div class="service-logo">
                      <img src="img/imgbox1.png" alt="">
                 </div>
                   <h4>How Plex Works</h4>
                   <p>Plex Media Server runs on the computer where you keep your media</p>
               </div>
             </div>
           <div class="col-md-4">
           <div class="col-md-4">

           </div>
         </div>
       </div>
     </section>
   
  </main>
    
</body>
</html>