{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
   <link rel="stylesheet" type="text/css" href="{% static 'new_landing.css' %}">
   
</head>
<body>
    <!-- ------hero-section -->

    <div class="hero">
        <nav>
            <img class="logo" src="{% static 'logo.png' %}" alt="logo" >
           <!-- <img src="final logo.png" alt="logo"">-->
            <h2 class="logo">Project Stream</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <a href="/signin" class="btn">Login</a>
            
        </nav>

        <div class="content">
            <h1>Stream from your local device</h1>
            <p>
                Say goodbye to free movie websites and hello to the app that brings you over 50,000 on-demand titles, plus live TV on all your favorite devices.
            </p>
            <div class="newslatter">
                <form action="" method ="POST">
                {% csrf_token %}
                {{ form.as_p }}
                    <input type="email" name="email" id="mail" placeholder="Enter Your Email">
                    <a href="/signup" class="btn-2"> Subsribe!! </a>
                    <input type="submit" name="submit" value="Subsribe">
                </form>
            </div>
            
            <a href="/signup" class="btn-2">Sign Up </a>
        </div>
    </div>

             <!-- ------Movie-section -->

    <div class="movies-sec">
        <div class="panel-text">
            <h1 class="movies-sec-heading">Now Playing On Project Stream.</h1>
        <p class="discription">
            Our huge library of ad-supported movies and shows is available on demand, 24/7. <br> Start watching now, no payment or subscription required.
        </p>
        </div>
        <div class="img-container">
            <div class="box">
               <!-- <img src="{% static 'image1.jpg' %} alt="movie1">-->
               <img src="{% static 'image/image1.jpg' %}" alt="image1" >
         
            </div>
            <div class="box">
              
                <img src="{% static 'image/image2.jpg' %}" alt="image2" >
               
            </div>
            <div class="box">
               
                <img src="{% static 'image/image3.jpg' %}" alt="image3" >
               
            </div>
            <div class="box">
                
                <img src="{% static 'image/image4.jpg' %}" alt="image4" >
                
            </div>
            <div class="box">
             
                <img src="{% static 'image/image5.jpg' %}" alt="image5" >
            </div>
            
        </div>
        <a href="/signin" class="btn-3">Explore All Movies & Shows</a>
        
    </div>

    <div class="work">
          <div class="work-img">
              <img src="image/image6.png" alt="image example">
          </div>
          <div class="work-content">
              <h2>The hardest Working <br> Streaming Platform.</h2>
             <div class="work-par">
                <p>Plex gives you the power to add, access and share all the entertainment that matters to you, on almost any device. Enjoy 50,000+ on demand titles and hundreds of channels of live TV, plus your own personal media collection, using one powerful app. </p>
               
                <a href="/signup" class="btn-4">Create Your Free Account</a>
             </div>
          </div>
    </div>

    
</body>
</html>